{% extends "platform/index.html" %}
{% block title %}
    {{ super() }}
{% endblock title %}
{% block head %}
    {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {

        $('#submit-btn').click(function() {
            var productid = $('#productid').val();
            var name = $('#name').val();
            var cover = $('#cover').val();
            var abstract = $('#abstract').val();
            var tip = $('#tip').val();

            showloading();
            xdock.ajax(
                "/{{session.appname}}/platform/product/update",
                {
                    'name': name,
                    'cover': cover,
                    'abstract': abstract,
                    'productid': productid,
                    'tip': tip
                },
                function(data) {
                    hideloading();
                    window.location = '/{{session.appname}}/platform/product/query'
                },
                function(meta) {
                    hideloading();
                    alert(meta.description);
                }
            )

        });
        $('#publish-btn').click(function() {
                if (!confirm('确定发布吗？')) {
                    return;
                }
                var productid = $('#productid').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/platform/product/publish/ajax",
                    {'productid': productid },
                    function(data) {
                        hideloading();
                        showtoast(''+data);
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
    });
</script>
<style type="text/css">

</style>
{% endblock head %}

{% block right_content %}
<ol class="breadcrumb" style="margin-bottom: 0; padding: 10px; background-color: white;font-size: 18px">
  <li><a href="/{{session.appname}}/platform/product/query">产品列表</a></li>
  <li class="active">产品修改</li>
</ol>
<form class="form-horizontal" action="{{'/%s/platform/product/update' % session.appname }}" method='post'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">产品详情</h3>
        </div>
        <div class="panel-body">
            {% if msg %}
            <p style="color: red">{{msg}}</p>
            {% endif %}
            <input type="hidden" id="productid" name="productid" value="{{product.productid}}">
             <div class="form-group">
                <label class="col-sm-2 control-label" style="padding-top: 0;">名称</label>
                <div class="col-sm-5">
                    <input type="text" name="name" id="name" class="form-control" value="{{ product.name or '' }}" placeholder="名称" required>
                </div>
            </div>
        </div>
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="padding-top: 0;">简介</label>#}
{#            <div class="col-sm-5">#}
{#                <textarea name="abstract" class="form-control" id="abstract" style="width:100%" rows="5" placeholder="">{{ product.abstract or ''}}</textarea>#}
{#            </div>#}
{#        </div>#}
        <div class="form-group">
            <label class="col-sm-2 control-label">规格：</label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name="tip" id="tip"  value="{{product.tip or ''}}" placeholder="如：170g*12袋" >
            </div>
          </div>
        <div class="form-group" style="margin-top: 20px">
            <label class="col-sm-2 control-label">封面图片</label>
            <div class="form_controls col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control" name="cover" id="cover" value="{{ product.cover or '' }}" required>
                    <span class="input-group-btn">
                        <button style="border: 1px solid #ccc;background: #eee;border-radius: 3px;border-left: 0;border-bottom-left-radius: 0;border-top-left-radius: 0;" class="btn buddy_uploadfile_btn" type="button" >+</button>
                        <input class="buddy_uploadfile_input" style="opacity: 0;" type='file' name='uploadfile'>
                    </span>
                </div>
                <img src="{{ product.cover or '' }}" class="image" width="300px">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="container-horizontal-left">
                <button type="button" id="submit-btn" class="btn btn-default"  style="width: 100px;background: #370307;color:#fff;text-shadow: none">保存</button>
                {% if product.status == 'editing' %}
                    <button id="publish-btn" type="button" class="btn btn-default" style="width: 100px;margin-left: 10px;background: #370307;color:#fff;text-shadow: none">发布</button>
                {% endif %}
            </div>
        </div>

        </div>
    </div>
</form>

<script type="text/javascript">

</script>
{% endblock right_content %}
