{% extends "platform/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
    <style type="text/css">
    </style>
{% endblock head %}

{% block right_content %}

<div class='.container-fluid'>
     <div class='row' style="margin: 0">
         <div class='col-md-12' style="padding: 0">
             <form  id='query-form' class="form-inline" action="/{{session.appname}}/platform/staff/query" method='post'>
               <div class="form-group">

                 <select class="form-control" name='roleid'>
                     <option value="">---角色---</option>
                   {% for role in roles %}
                     {% if form.roleid == role.roleid %}
                     <option value="{{role.roleid}}" selected>{{role.name}}</option>
                     {% else %}
                     <option value="{{role.roleid}}">{{role.name}}</option>
                     {% endif %}
                   {% endfor %}
                 </select>
                 <input type="hidden" name='next_page' id='next_page' value="{{form.next_page or 1}}" />
               </div>
               <button type="submit" class="btn btn-success">查询</button>
               <a class="btn btn-default" href="/{{session.appname}}/common/user/select?redirect_url=/platform/staff/create">添加</a>
             </form>
         </div>
     </div>
     <div clas='row' style='margin-top: 20px;'>
         <div class='col-md-12' style="padding-left: 0">

             <table class="table table-bordered table-condensed table-hover">
               <tbody>
                   {# 遍历展示用户列表 #}
                   {% for s in staffs %}
                       <tr>
                         <td style="position: relative; ">
                           <b><span style="display: block; border: 1px solid #ccc; width: 20px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center; margin-bottom: 5px;">{{loop.index + ((form.next_page or 1) - 1) * 10}}</span></b>
                           <img src="{{s.user.avatar}}" style="width: 40px; margin-right: 10px;" >
                           <b>姓名：</b><span>{{s.user.name}}{{'（%s）' % s.user.nickname if s.user.nickname else ''}}</span><br>
                           <b>角色（权限控制）：</b><br>
                           <span style="color: #b76565;">
                             {% if s.roles %}
                               {% for role in s.roles %}
                                  {{role.name}}，&nbsp;
                               {% endfor %}
                             {% else %}
                              无
                             {% endif %}
                           </span>
                           <br>
                           <b>岗位：</b><br>
                           <span style="color: #0b73c5;">
                             {% if s.posts %}
                               {% for post in s.posts %}
                                  {{post.name}}，&nbsp;
                               {% endfor %}
                             {% else %}
                              无
                             {% endif %}
                           </span>
                           <br>
                           <b>所在机构：</b><br>
                           <span style="color: #039c44;">
                             {% for o in orgs %}
                                  {% if s.uid == o.get('uid') %}
                                      {{ o.organization.orgname }}，&nbsp;
                                  {% endif %}
                             {% endfor %}
                           </span>
                           <br>
                           <a class="buddy-btn-a" href="/{{session.appname}}/platform/staff/update?target_uid={{s.uid}}">修改</a>
                           <a class="buddy-btn-a" href="/{{session.appname}}/platform/staff/delete?target_uid={{s.uid}}">删除</a>
                         </td>
                        </tr>
                   {% endfor %}
               </tbody>
             </table>
             共{{total_pages}}页，共{{total_count}}条
             <div class=row>
                 <div class='col-md-12'>
                     <nav>
                       <ul class="pager">
                         {% if page > 1 %}
                         <li><a href="#" id='to_previous_page'>上一页</a></li>
                         {% endif %}
                         <li>{{page or 1}}</li>
                         {% if page < total_pages %}
                         <li><a href="#" id='to_next_page'>下一页</a></li>
                         {% endif %}
                       </ul>
                     </nav>
                 </div>
             </div>
         </div>
     </div>
 </div>
{% endblock right_content %}
