{% extends "platform/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
    <style type="text/css">
    </style>
{% endblock head %}

{% block right_content %}
    <form class="form-horizontal" action="/{{session.appname}}/platform/staff/post/update?postid={{post.postid}}" method='post'>
    <input type="hidden" name='postid' value="{{post.postid}}" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">岗位修改</h3>
      </div>
      <div class="panel-body">
          {% if msg %}
          <p style="color: red">{{msg}}</p>
          {% endif %}

          <div class="form-group">
            <label class="col-sm-2 control-label">
              <span style="color: red;">*</span>&nbsp;岗位编号：
            </label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name='postno' value="{{form.postno or post.postno}}" required >
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">
              <span style="color: red;">*</span>&nbsp;岗位名称：
            </label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name='name' value="{{form.name or post.name}}" required >
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">岗位简介：</label>
            <div class="col-sm-5">
                <textarea class='form-control' name='abstract' rows=5>{{form.abstract or post.abstract}}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-success btn-block">保存</button>
            </div>
          </div>

      </div>
    </div>

    </form>

{% endblock right_content %}
