{% extends "platform/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
    <style type="text/css">
    </style>
{% endblock head %}

{% block right_content %}

<form class="form-horizontal" action="/{{session.appname}}/platform/staff/role/permissions/update?roleid={{role.roleid}}" method='post'>
<input type="hidden" name='roleid' value="{{role.roleid}}" >
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">角色权限修改（！！！此处未列出的功能点，不受权限控制！！！）</h3>
  </div>
  <div class="panel-body">
      {% if msg %}
      <p style="color: red">{{msg}}</p>
      {% endif %}


      <div class="form-group">
          <label class="col-sm-2 control-label" style="padding-top: 0;">角色：</label>
          <div class="col-sm-5">
              <p>角色编号：{{role.roleno}}<br>角色名称：{{role.name}}</p>
          </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label" style="padding-top: 0;">权限：</label>
        <div class="col-sm-10">

            <!-- tree start -->
            <div class="tree" style="margin-left: -60px;">
                <ul>
                    {% for m1, m2menus in all_menus.iteritems() %}
                    <li>
                        <span style="background-color: #333; color: #fafafa; "><i class="icon-minus-sign"></i>{{loop.index}}.&nbsp;{{m1}}</span>
                        <ul>
                            {% for m2, m3menus in m2menus.iteritems() %}
                            <li>
                                <span style="background-color: #428bca; color: #fafafa;"><i class="icon-minus-sign"></i> {{m2}}</span>
                                <ul>
                                    {% for m3, url in m3menus.iteritems() %}
                                    <li>
                                      <div class="checkbox">
                                        <label>
                                          {% if url in role.permission_urls %}
                                            <input type='checkbox' name='permission_urls' value="{{url}}" checked><ss style="color: orange;">{{loop.index}}.&nbsp;{{m3}}</ss>
                                          {% else %}
                                            <input type='checkbox' name='permission_urls' value="{{url}}">{{loop.index}}.&nbsp;{{m3}}
                                          {% endif %}
                                        </label>
                                      </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
            <!-- tree end -->

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-success btn-block">保存</button>
        </div>
      </div>

  </div>
</div>

</form>


{% endblock right_content %}
