{% extends "platform/index.html" %} {% block title %}{{ super() }}{% endblock title %} {% block head %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
         $('.publish').click(function() {
                if (!confirm('发布后将在小程序上显示，确定发布吗？')) {
                    return;
                }
                var cardid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/platform/vip/card/publish",
                    {'cardid': cardid },
                    function(data) {
                        hideloading();
                        showtoast('发布成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });

        $('.offset').click(function() {
                if (!confirm('下架后小程序端将不再显示此会员卡，确认下架吗？')) {
                    return;
                }
                var cardid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/platform/vip/card/offset",
                    {'cardid': cardid },
                    function(data) {
                        hideloading();
                        showtoast('操作成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });

        $('.delete').click(function() {
                if (!confirm('删除前请确保当前会员数为0，否则会导致会员无法下单？')) {
                    return;
                }
                var cardid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/platform/vip/card/delete",
                    {'cardid': cardid },
                    function(data) {
                        hideloading();
                        showtoast('操作成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
        $('.stick').click(function() {
                var cardid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/platform/vip/card/stick",
                    {'cardid': cardid },
                    function(data) {
                        hideloading();
                        showtoast('操作成功!');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
        $('.function').each(function () {
               $(this).click(function () {
                   event.stopPropagation();
               })
           })
    });
</script>
{% endblock head %} {% block right_content %}
<div class='.container-fluid'>
    <div class='row' style="margin: 0">
        <div class='col-md-12' style="padding: 0">
            <form id='query-form' class="form-inline" action="/{{session.appname}}/platform/vip/card/query" method='post'>
{#                <div class="form-group">#}
{##}
{#                    <select class="form-control" name='status'>#}
{#                        <option value="">---状态---</option>#}
{#                      {% for k,v in statuses.iteritems() %}#}
{#                        {% if form.status == k %}#}
{#                        <option value="{{k}}" selected>{{v}}</option>#}
{#                        {% else %}#}
{#                        <option value="{{k}}">{{v}}</option>#}
{#                        {% endif %}#}
{#                      {% endfor %}#}
{#                    </select>#}
{#                    <input type="hidden" name='next_page' id='next_page' value={{form.next_page or 1}} />#}
{#                </div>#}
{#                <button type="submit" class="btn btn-success">查询</button>#}
                <a class="btn btn-default" style="background: #370307;color:#fff;text-shadow: none" href="/{{session.appname}}/platform/vip/card/update">创建会员卡</a>
            </form>

        </div>
    </div>
    <div clas='row' style='margin-top: 20px;'>
        <div class='col-md-12' style="padding-left: 0">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    {# 遍历展示用户级别列表 #}
                    {% for card in cards %}
                    <tr>
                        <td>
                        <br style="position: relative; ">
                            <b>会员卡名称：<span>{{card.name}}</span></b><br>
                            <b>会员卡编号：<span>{{card.card_num}}</span></b><br>
                            <b>关联产品：</b><span>{{card.product.name}}</span><br>
                            <b>产品份数：</b><span>{{card.num}}</span></br>
                            <b>累计会员数：{{ card.count_user }}</b></br>
                            <b>当前会员数：{{ card.count_remain }}</b></br>
                            <b>状态：</b>
                            <span>
                            {% if card.status=='published' %}
                                <span style="color:green">已发布</span>
                            {% elif card.status=='editing'  %}
                                <span style="color:red">编辑中</span>
                            {% endif %}
                                </span></br>
                            {% if card.status !='deleted' %}
                                <a class="buddy-btn-a" href="/{{session.appname}}/platform/vip/card/update?cardid={{card.cardid}}">修改</a>
                                <a  class="buddy-btn-a stick" >
                                    <input type="hidden" value="{{card.cardid}}" />
                                    <span>置顶</span>
                                </a>
                                {% if card.status =='published' %}
                                    <a  class="buddy-btn-a offset" >
                                        <input type="hidden" value="{{card.cardid}}" />
                                        <span>下架</span>
                                    </a>
                                {% elif card.status =='editing' %}
                                    <a class="buddy-btn-a publish">
                                        <input type="hidden" value="{{card.cardid}}" />
                                        <span>发布</span>
                                    </a>
{#                                {% elif card.count_remain == '0' %}#}

                                {% endif %}
{#                                <a class="buddy-btn-a delete">#}
{#                                        <input type="hidden" value="{{card.cardid}}" />#}
{#                                        <span>删除</span>#}
{#                                    </a>#}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            共{{total_pages}}页，共{{total_count}}条
            <div class=row>
                <div class='col-md-12'>
                    <nav>
                        <ul class="pager">
                            {% if page > 1 %}
                            <li><a href="#" id='to_previous_page'>上一页</a></li>
                            {% endif %}
                            <li>{{page or 1}}</li>
                            {% if page
                            < total_pages %} <li><a href="#" id='to_next_page'>下一页</a></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock right_content %}
