{% extends "user/index.html" %} {% block title %}{{ super() }}{% endblock title %} {% block head %} {{ super() }} {% endblock head %} {% block right_content %}
<div class='.container-fluid'>
    <div class='row' style="margin: 0">
        <div class='col-md-8' style="padding: 0">
            <h5>FALY魅力管理日记</h5>
            <a class="btn btn-default" href="/{{session.appname}}/charmlog/create?entry=mine&target_uid={{form.uid}}">创建日记</a>
        </div>
        <div class='col-md-4' style="padding: 0">

        </div>
    </div>
    <div clas='row' style='margin-top: 20px;'>
        <div class='col-md-12' style="padding-left: 0">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    {# 遍历展示用户列表 #} {% for log in charmlogs %}
                    <tr>
                        <td>
                            <b><span style="display: block; border: 1px solid #ccc; width: 20px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center;">{{loop.index + ((form.next_page or 1) - 1) * 10}}</span></b><br> {% if log.isdefault
                            %}
                            <img style="position:absolute;display: block;right:25px;width:35px" src="https://images.buddydc.com/rs/faly/1501254869022_735be28673a711e7ae0ca0c589188e1d.png" alt=""> {% endif %}
                            <img src="{{log.user.get('avatar')}}" style="width: 50px; float: left; margin-right: 10px; " />
                            <b>姓名：</b>{{log.user.get('name') or log.user.get('nickname')}}（{{ log.user.get('nickname') }}）<br>
                            <b>手机：</b>{{log.user.get('phone')}}<br>
                            <br>
                            <b>日记标题：</b>{{log.title}}<br>
                            <b>操作项目：</b>{{ log.project }}<br>
                            <b>日记状态：</b> {% if log.status == 'checking' %}
                            <span style="color: blue;">{{checkstatus.get(log.status)}}</span> {% elif log.status == 'checked' %}
                            <span style="color: green;">{{checkstatus.get(log.status)}}</span> {% elif log.status == 'sent' %}
                            <span style="color: orange;">{{checkstatus.get(log.status)}}</span> {% else %}
                            <span style="color: red;">{{checkstatus.get(log.status)}}</span> {% endif %}
                            <br> {% if log.status == 'unchecked' %}
                            <a class="confirm-op buddy-btn-a" href={{ '/%s/charmlog/checking?entry=mine&logid=%s&name=%s&status=%s&next_page=%s' % (session.appname, log.logid, form.name or '', form.status or '', form.next_page) }}>提交审核</a> {% elif log.status
                            == 'checking' %}
                            <a class="confirm-op buddy-btn-a" href={{ '/%s/charmlog/checked?entry=mine&logid=%s&name=%s&status=%s&next_page=%s' % (session.appname, log.logid, form.name or '', form.status or '', form.next_page) }}>审核</a> {% elif log.status
                            == 'checked' %}
                            <a class="confirm-op buddy-btn-a" href={{ '/%s/charmlog/sent?entry=mine&logid=%s&name=%s&status=%s&next_page=%s' % (session.appname, log.logid, form.name or '', form.status or '', form.next_page) }}>发送</a> {% endif %}
                            <a class="buddy-btn-a" href="/{{session.appname}}/charmlog/preview?entry=mine&logid={{log.logid}}">预览</a>
                            <a class="buddy-btn-a" href="/{{session.appname}}/charmlog/update?entry=mine&logid={{log.logid}}">修改</a>
                            <a class="buddy-btn-a" href="/{{session.appname}}/charmlog/delete?entry=mine&logid={{log.logid}}">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            共{{total_pages}}页，共{{total_count}}条
            <div class=row>
                <div class='col-md-12'>
                    <nav>
                        <ul class="pager">
                            {% if page > 1 %}
                            <li><a href="#" id='to_previous_page'>上一页</a></li>
                            {% endif %}
                            <li>{{page or 1}}</li>
                            {% if page
                            < total_pages %} <li><a href="#" id='to_next_page'>下一页</a></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock right_content %}
