{% extends "user/index.html" %} {% block title %} {{ super() }}{% endblock title %} {% block head %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {});
</script>
<style type="text/css">

</style>
{% endblock head %}
{% block right_content %}
<!-- 用户报告展示界面 -->
<div class='.container-fluid'>
    <div class='row' style="margin: 0">
        <div class='col-md-8' style="padding: 0">
            <form id='query-form' class="form-inline" action="{{ '/%s/healthage/outreport/query?entry=mine' % session.appname }}" method='post'>
                <div class="form-group">
                    <input type="hidden" name='next_page' id='next_page' value="{{form.next_page or 1}}" />
                    <input type="hidden" name="userid" value="{{ form.userid or '' }}">
                    <!-- <input type="text" id="searchname" class="form-control user-search2" value="{{form.user.name or form.user.nickname or form.user.phone or form.user.uid or ''}}" placeholder="所属用户"> -->

                    <input type="text" name="reportname" class="form-control" value="{{form.reportname or ''}}" placeholder="报告名称" />
                    <select class='form-control' name='part'>
                        <option value=''>---检测分类---</option>
                        {% for part in Parts %}
                            {% if form.part == part %}
                        <option value="{{part}}" selected>{{part}}</option>
                            {% else %}
                        <option value="{{part}}">{{part}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">查询</button>
                <a href="{{ '/%s/healthage/outreport/create?entry=mine&userid=%s' % (session.appname, form.userid) }}" class="btn btn-default">新增报告</a>
            </form>
        </div>
    </div>
    <div clas='row' style='margin-top: 20px;'>
        <div class='col-md-12' style="padding-left: 0">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    <!-- {# 遍历用户报告列表 #}  -->
                    {% for report in reports %}
                    <tr>
                        <td style="position: relative;">
                            <b><span style="display: block; border: 1px solid #ccc; width: 20px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center;">{{loop.index + ((form.next_page or 1) - 1) * 10}}</span></b><br>
                            <b>所属用户：</b><span>{{ report.username or '未填写' }}</span><br>
                            <b>报告名称：</b><span>{{ report.reportname or '未填写' }}</span><br>
                            <b>分类：</b><span>{{ report.part or '未填写' }}</span><br>
                            <b>报告生成时间：</b><span>{{ report.report_ct_ui[:-3] or '未填写' }}</span><br>
                            <a href="{{ '/%s/healthage/outreport/detail?entry=mine&reportid=%s' % (session.appname, report.reportid) }}" class="buddy-btn-a">修改</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            共{{ total_pages }}页，共{{ total_count }}条 {% if form['next_page'] is defined %}
            <div class="row" style="margin:0;">
                <nav>
                    <ul class="pager">
                        {% if form['next_page'] > 1 %}
                        <li><a href="#" id='to_previous_page'>上一页</a></li>
                        {% endif %}
                        <li>{{ form['next_page'] or 1 }}</li>
                        {% if form['next_page']
                        < total_pages %} <li><a href="#" id='to_next_page'>下一页</a></li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock right_content %}
