{% extends "user/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href={{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }} />
    <script src={{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap-datetimepicker.zh-CN.js') }}></script>
    <script>
      $(document).ready(function() {
          $('#startdt').datetimepicker({
              minView: "month", //选择日期后，不会再跳转去选择时分秒
              format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
              language: 'zh-CN', //汉化
              // startDate : new Date(),
              todayBtn: true,
              autoclose:true //选择日期后自动关闭
          });
          $('#enddt').datetimepicker({
              minView: "month", //选择日期后，不会再跳转去选择时分秒
              format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
              language: 'zh-CN', //汉化
              // startDate : new Date(),
              todayBtn: true,
              autoclose:true //选择日期后自动关闭
          });

          $('._one_report_item').each(function() {
              $(this).click(function() {
                  var teamid = $(this).find('input').first().val().split('|')[0];
                  var date = $(this).find('input').first().val().split('|')[1];
                  window.open('/{{session.appname}}/user/report/serviceteamopreport/daily/detail?teamid=' + teamid+'&date=' + date);
              });
          });
      });
    </script>
{% endblock head %}

{% block right_content %}
    <div class='.container-fluid'>
        <div class='row' style="margin: 0">
            <div class='col-md-12' style="padding: 0">
                 <form  id='query-form' class="form-inline" action={{ '/%s/user/report/serviceteamopreport/daily/query' % session.appname }} method='post'>
                    <input type="hidden" name='next_page' id='next_page' value={{form.next_page or 1}} />
                    <select class="form-control" name='teamid'>
                        <option value="">---专属团队---</option>
                      {% for team in teams %}
                        {% if form.teamid == team.teamid %}
                        <option value="{{team.teamid}}" selected>{{team.name}}</option>
                        {% else %}
                        <option value="{{team.teamid}}">{{team.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <input type="text" id="startdt" name="startdt" class="form-control" value="{{ form.startdt or '' }}" placeholder="起始日期">
                    <input type="text" id="enddt" name="enddt" class="form-control" value="{{ form.enddt or '' }}" placeholder="结束日期">
                    <div class="form-group">
                        <div>
                          <button type="submit" class="btn btn-success">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div clas='row' style='margin-top: 20px;'>
            <div class='col-md-12' style="padding-left: 0">
                <table class="table table-bordered table-condensed table-hover" style="min-width: 1280px">
                  <tbody>
                      <tr style="background-color: gray; color: white;">
                        <th style="width: 100px;">日期</th>
                        <th style="width: 160px;">团队</th>
                        <th>用户数<br>今日新增</th>
                        <th>用户数<br>今日活跃</th>
                        <th>用户数<br>累计</th>
                        <th>销售额<br>今日</th>
                        <th>销售额<br>累计</th>
                        <th>销售用户数<br>今日</th>
                        <th>销售用户数<br>累计</th>
                        <th>亚报告<br>今日创建数</th>
                        <th>亚报告<br>今日发送数</th>
                        <th>亚报告<br>今日阅读数</th>
                        <th>亚报告<br>累计总数</th>
                        <th>亚报告<br>今日用户数</th>
                        <th>亚报告<br>累计用户数</th>
                      </tr>
                      {# 遍历展示用户列表 #}
                      {% for report in reports %}
                      <tr class='_one_report_item'>
                        <input type='hidden' value="{{report.team.teamid}}|{{report.date}}" />
                        <td style="color: #fafafa; background-color: #{{('%s00' % (report.date[0:4]|int * report.date[5:7]|int * report.date[8:10]|int))[0:6]}}">{{report.date}}</td>
                        <td style="color: #fafafa; background-color: #{{('%s00' % (report.date[0:4]|int * report.date[5:7]|int * report.date[8:10]|int))[0:6]}}"><img style="width: 26px; border-radius: 26px;" src="{{report.team.logourl}}" />&nbsp;&nbsp;{{report.team.name}} </td>
                        <td style="color: #008B45">{{report.usercount_delta}}</td>
                        <td style="color: #008B45">{{report.activeusercount_delta}}</td>
                        <td style="color: #008B45">{{report.usercount}}</td>
                        <td style="color: #CD661D" class="buddy-currency">{{report.salesamount_delta/100}}</td>
                        <td style="color: #CD661D" class="buddy-currency">{{report.salesamount/100}}</td>
                        <td style="color: #CD661D">{{report.salesusercount_delta}}</td>
                        <td style="color: #CD661D">{{report.salesusercount}}</td>
                        <td style="color: #00868B">{{report.falylogcount_create_delta}}</td>
                        <td style="color: #00868B">{{report.falylogcount_sent_delta}}</td>
                        <td style="color: #00868B">{{report.falylogcount_read_delta}}</td>
                        <td style="color: #00868B">{{report.falylogcount}}</td>
                        <td style="color: #00868B">{{report.falylogusercount_delta}}</td>
                        <td style="color: #00868B">{{report.falylogusercount}}</td>
                      </td>
                      {% endfor %}
                  </tbody>
                </table>
                共{{total_pages}}页，共{{total_count}}条
                <div class=row>
                    <div class='col-md-12'>
                        <nav>
                          <ul class="pager">
                            {% if page > 1 %}
                            <li><a href="#" id='to_previous_page'>上一页</a></li>
                            {% endif %}
                            <li>{{page or 1}}</li>
                            {% if page < total_pages %}
                            <li><a href="#" id='to_next_page'>下一页</a></li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock right_content %}
