{% extends "user/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href={{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }} />
    <script src={{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap-datetimepicker.zh-CN.js') }}></script>
    <script src={{ url_for('static', filename='js/echarts.min.js') }}></script>
    <script>
      $(document).ready(function() {
          $('#startdt').datetimepicker({
              minView: "month", //选择日期后，不会再跳转去选择时分秒
              format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
              language: 'zh-CN', //汉化
              // startDate : new Date(),
              todayBtn: true,
              autoclose:true //选择日期后自动关闭
          });
          $('#enddt').datetimepicker({
              minView: "month", //选择日期后，不会再跳转去选择时分秒
              format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式
              language: 'zh-CN', //汉化
              // startDate : new Date(),
              todayBtn: true,
              autoclose:true //选择日期后自动关闭
          });

          //异步保存summary
          $('#summary_submit_btn').click(function(e) {
              e.preventDefault();
              var teamid = $('#teamid').val();
              var date = $('#date').val();
              var summary = $('#summary').val();
              showloading();
              ajax(
                  '/{{session.appname}}/user/report/serviceteamopreport/daily/update/ajax',
                  {'teamid': teamid, 'date': date, 'summary': summary},
                  function(data) {
                      hideloading();
                      showtoast('保存成功！')
                  },
                  function(meta) {
                      hideloading();
                  }
              );
          });

          //绘制折线图
          var mychart = echarts.init(document.getElementById('mychart'));
          $('#submit_btn').click(function(e) {
              e.preventDefault();
              var teamid = $('#teamid').val();
              var startdt = $('#startdt').val();
              var enddt = $('#enddt').val();
              showloading();
              ajax(
                  '/{{session.appname}}/user/report/serviceteamopreport/daily/chart/ajax',
                  {'teamid': teamid, 'startdt': startdt, 'enddt': enddt},
                  function(data) {
                      hideloading();
                      $('#startdt').val(data.form.startdt);
                      $('#enddt').val(data.form.enddt);
                      mychart.setOption({
                          'title': {
                              'text': "",
                              'textAlign': 'left'
                          },
                          'tooltip': {
                              'trigger': 'axis'
                          },
                          'legend': {
                              'data': data.chartoption.legend.data,
                              'bottom': '0',
                              // 'orient': 'vertical'
                          },
                          'grid': {
                              'top': '10',
                              'left': '0',
                              'right': '0',
                              'bottom': '100',
                              'containLabel': true
                          },
                          'toolbox': {
                              'feature': {}
                          },
                          'xAxis': {
                              'type': data.chartoption.xAxis.type,
                              'boundaryGap': data.chartoption.xAxis.boundaryGap,
                              'data': data.chartoption.xAxis.data,
                          },
                          'yAxis': {
                              'type': 'value'
                          },
                          'series': data.chartoption.series
                      });
                  },
                  function(meta) {
                      hideloading();
                  }
              );
          });

          $('#submit_btn').click();
      });
    </script>
{% endblock head %}

{% block right_content %}
    <div class='.container-fluid'>
      <div class='row' style='margin-top: 20px;'>
          <div class='col-md-12'>
            <div class="panel panel-info" style='min-width: 1024px;'>
                <div class="panel-heading" style="position: relative; padding-top: 0; padding-bottom: 0;">
                  <img style="width: 50px; border-radius: 50px; " src="{{team.logourl}}" />
                  <b>&nbsp;&nbsp;{{team.name}}&nbsp;{{report.date}} 日报</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class='col-xs-6'>
                          <form class="form-horizontal">
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">用户数(今日新增)</label>
                                  <div class="col-xs-6">{{report.usercount_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">用户数(今日活跃)</label>
                                  <div class="col-xs-6">{{report.activeusercount_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">用户数(累计)</label>
                                  <div class="col-xs-6">{{report.usercount}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">销售额(今日)</label>
                                  <div class="col-xs-6"><span class='buddy-currency'>{{report.salesamount_delta/100}}</span></div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">销售额(累计)</label>
                                  <div class="col-xs-6"><span class='buddy-currency'>{{report.salesamount/100}}</span></div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">销售用户数(今日)</label>
                                  <div class="col-xs-6">{{report.salesusercount_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">销售用户数(累计)</label>
                                  <div class="col-xs-6">{{report.salesusercount}}</div>
                              </div>
                          </form>
                        </div>

                        <div class='col-xs-6'>
                          <form class="form-horizontal">
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(今日创建数)</label>
                                  <div class="col-xs-6">{{report.falylogcount_create_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(今日发送数)</label>
                                  <div class="col-xs-6">{{report.falylogcount_sent_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(今日阅读数)</label>
                                  <div class="col-xs-6">{{report.falylogcount_read_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(累计总数)</label>
                                  <div class="col-xs-6">{{report.falylogcount}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(今日用户数)</label>
                                  <div class="col-xs-6">{{report.falylogusercount_delta}}</div>
                              </div>
                              <div class="form-group">
                                  <label class="col-xs-6 control-label" style="padding-top: 0;">亚报告(累计用户数)</label>
                                  <div class="col-xs-6">{{report.falylogusercount}}</div>
                              </div>
                          </form>
                        </div>
                    </div>
                    <div class="row">
                      <form method='post' style="padding-left: 15px;">
                         <input type="hidden" name='date' id='date' value={{report.date}} />
                         <textarea id='summary' name="summary" rows=3 style="min-width: 960px;" placeholder="在这里填写日报总结补充说明">{{report.summary or ''}}</textarea>
                         <div class="form-group">
                             <div>
                                <button id="summary_submit_btn" type="submit" class="btn btn-success">保存补充说明</button>
                             </div>
                         </div>
                     </form>
                    </div>
                </div>
            </div>
          </div>
      </div>

        <div class='row' style="margin: 0">
            <div class='col-md-12' style="padding: 0">
              <div class="panel panel-default" style='min-width: 1024px;'>
                  <div class="panel-heading" style="position: relative; padding-top: 0; padding-bottom: 0;">
                    数据走势图
                  </div>
                  <div class="panel-body">
                     <form  id='query-form' class="form-inline" method='post'>
                        <input type="hidden" name='teamid' id='teamid' value={{form.teamid}} />
                        <input type="text" id="startdt" name="startdt" class="form-control" value="{{ form.startdt or '' }}" placeholder="起始日期">
                        <input type="text" id="enddt" name="enddt" class="form-control" value="{{ form.enddt or '' }}" placeholder="结束日期">
                        <div class="form-group">
                            <div>
                              <button id="submit_btn" type="submit" class="btn btn-success">刷新</button>
                            </div>
                        </div>
                    </form>

                    <div id="mychart" style="min-width: 960px; width: 100%; height: 500px; margin-top: 20px; background-color: gray;"></div>

                 </div>
              </div>
            </div>
        </div>
    </div>
{% endblock right_content %}
