{% extends "user/index.html" %} {% block title %} {{ super() }}{% endblock title %} {% block head %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        // $('#_topnavbar').css('position', 'absolute');
        $('#_left_nav').hide();

        $('#falylog_detail').append($('#_falylog_detail').val());
    });
</script>
<style type="text/css">
</style>
{% endblock head %} {% block right_content %}
<div style="width: 415px; padding: 10px 5px; border: 20px solid gray; border-radius: 20px;">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h3 style="margin:0px">{{ headers.get(falylog.header) or "_____________" }}</h3>
            <h4 style="margin-bottom:0px">{{ falylog.title or "_____________" }}</h4>
        </div>
        <div class="panel-body" style="padding:8px">
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>
                        <h4>基本信息</h4></caption>
                    <tbody>
                        <tr>
                            <td>报告编号：{{ falylog.reportno or "_____________" }}</td>
                            <td>用户姓名：{{ falylog.name or "_____________" }}</td>
                        </tr>
                        <tr>
                            <td>生成日期：{{ falylog.ct_ui[:-3] or "_____________" }}</td>
                            <td>用户性别：{{ {'male':'男', 'female':'女'}.get(falylog.userinfo.get('sex')) or "_____________" }}</td>
                        </tr>
                        <tr>
                            <td>专属团队：{{ falylog.team.get('name') if falylog.team else "_____________" }}</td>
                            <td>用户年龄：{{ falylog.userinfo.get('age') or "_____________" }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <caption>
                        <h4>报告分析</h4></caption>
                    <tbody>
                        {#
                        <tr>
                            <td><b>健康指数：</b>
                                <span style="color:orange;font-size:20px;">{{ falylog.healthindex | safe or "_____________" }}</span>&nbsp分</td>
                            <td></td>
                        </tr>
                        #}
                        <tr class="warning">
                            <td colspan="2" style="white-space: pre-wrap;">
                                <div style="margin-top:5px;margin-left:20px;min-height:100px;max-width:500px;word-wrap:break-word;overflow-y:auto">
                                    {{ falylog.detail | safe or "" }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>补充意见：</b></br>
                                <span style="margin-top:5px;margin-left:20px;">{{ falylog.suggestion or ''}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {% if falylog.counselorc %}
                                <b>分店顾问签名：</b>{{ falylog.counselorb or "_____________" }}<br>
                                {% endif %}
                                {% if falylog.counselorb %}
                                <b>分店店长签名：</b>{{ falylog.counselorc or "_____________" }}<br>
                                {% endif %}
                                {% if falylog.checkstatus == 'checked' %}
                                <b>专属服务团队：</b>{{ falylog.team.get('name') if falylog.teamid else "_____________" }}<br>
                                {% endif %}
                                {% if falylog.checkstatus == 'checked' %}
                                <b>FALY专家团队：</b><img src="https://images.buddydc.com/rs/faly/1500886361048_737d93f2704d11e7aa12a0c589188e1d.png" alt=""><br>
                                {% endif %}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock right_content %}
