{% extends "user/index.html" %} {% block title %} {{ super() }}{% endblock title %} {% block head %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
<style type="text/css">

</style>
{% endblock head %} {% block right_content %}
<div class='.container-fluid'>
    <div class='row' style="margin: 0">
        <div class='col-md-12' style="padding: 0">
            <form id='query-form' class="form-inline" action="/{{session.appname}}/user/team/query?target_uid={{session.user.uid}}" method='post'>
                <div class="form-group">
                    <input type="hidden" name='next_page' id='next_page' value={{form.next_page or 1}} />
                    <input type="text" class="form-control" name="name" value="{{ form.name or '' }}" placeholder="团队名称">
                </div>
                <button type="submit" class="btn btn-success">查询</button>
            </form>

        </div>
    </div>
    <div clas='row' style='margin-top: 20px;'>
        <div class='col-md-12' style="padding-left: 0">

            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    {# 遍历展示团队列表 #} {% for t in teams %}
                    <tr>
                        <td style="position: relative; ">
                            <b><span style="display: block; border: 1px solid #ccc; width: 20px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center; margin-bottom: 5px;">{{loop.index + ((form.next_page or 1) - 1) * 10}}</span></b>
                            {% if t.uid == session.user.uid %}
                                <img  style="position:absolute;display: block;right:5px;width:35px" src="https://images.buddydc.com/rs/faly/1501229865900_3c56459a736d11e7bd25a0c589188e1d.png" alt="">
                            {% endif %}
                            {% if t.teamid == '7c6261fc5bb011e7bdc000163e005b39' %}
                            <img  style="position:absolute;display: block;right:5px;width:35px" src="https://images.buddydc.com/rs/faly/1501254869022_735be28673a711e7ae0ca0c589188e1d.png" alt="">
                            {% endif %}
                            <img src="{{t.logourl}}" style="border-radius:50%;width: 50px; margin-right: 10px;"><br>
                            <b>团队名称：</b><span>{{t.name}}</span><br>
                            <b>团队标语：</b><span>{{t.slogan}}</span><br>
                            <b>团队负责人：</b><span>{{t.manager.get('name') or ''}}</span><br>
                            <b>团队成员：</b>
                            {% for roleid, name in rdict.items() %}
                              <br><b style="margin-left:20px;color:purple">{{ name }}：</b>
                              {% for m in t.members %}
                                {% if m.roleid == roleid %}
                                  <span style="margin:0 5px 0 5px;color:orange">{{ m.staff.user.name or m.staff.user.nickname }}</span>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                            {% if t.uid == session.user.uid %}
                                <br><a class="buddy-btn-a" href="/{{session.appname}}/serviceteam/update?entry=mine&teamid={{ t.teamid }}">修改</a>
                                <a class="buddy-btn-a" href="/{{session.appname}}/serviceteam/delete/ajax?entry=mine&teamid={{ t.teamid }}">删除</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            共{{total_pages}}页，共{{total_count}}条
            <div class=row>
                <div class='col-md-12'>
                    <nav>
                        <ul class="pager">
                            {% if page > 1 %}
                            <li><a href="#" id='to_previous_page'>上一页</a></li>
                            {% endif %}
                            <li>{{page or 1}}</li>
                            {% if page
                            < total_pages %} <li><a href="#" id='to_next_page'>下一页</a></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock right_content %}
