{% extends "user/index.html" %} {% block title %} {{ super() }}{% endblock title %} {% block head %} {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
<style type="text/css">

</style>
{% endblock head %} {% block right_content %}
<div class='.container-fluid'>

    <div clas='row' style='margin-top: 20px;'>
        <div class='col-md-12' style="padding-left: 0">

            <table class="table table-bordered table-condensed table-hover">
                <tbody id="team-tbody">
                    {# 遍历展示自定义团队列表 #}
                    {% for staffteam in staffteams %}
                    <tr>
                        <td style="position: relative; ">
                            <b><span style="display: block; border: 1px solid #ccc; width: 20px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center; margin-bottom: 5px;">{{loop.index}}</span></b>
                            <b>团队名称：</b><span>{{staffteam.teamname or "<span style='color:#ddd'>暂无信息</span>" | safe}}</span><br>
                            <b>团队成员：</b><br>
                            {% for staff in staffteam.staffs %}
                                {% if staff.get('user') %}
                                    <b style="margin-left:20px;color:purple">{{staff.get('user').get('name') or staff.get('user').get('nickname') or ''}}</b>
                                {% endif %}
                            {% endfor %}
                            <br>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            共<span style="color:green">{{total_count}}</span>条
        </div>
    </div>
</div>
{% endblock right_content %}
