{% extends "activity/index.html" %}
{% block title %}
    {{ super() }}
{% endblock title %}
{% block head %}
    {{ super() }}
<script type="text/javascript">
    $(document).ready(function() {

        $('#submit-btn').click(function() {
            var activityid = $('#activityid').val();
            var name = $('#name').val();
            var invitation = $('#invitation').val();
            var start_time = $('#start_time').val();
            var end_enroll_time = $('#end_enroll_time').val();
            var max_count = $('#max_count').val();
            var every_count = $('#every_count').val();
            console.log({
                    'name': name,
                    'activityid': activityid,
                    'invitation': invitation,
                    'start_time': start_time,
                    'end_enroll_time': end_enroll_time,
                    'max_count': max_count,
                    'every_count': every_count
                })
            showloading();
            xdock.ajax(
                "/{{session.appname}}/activity/update",
                {
                    'name': name,
                    'activityid': activityid,
                    'invitation': invitation,
                    'start_time': start_time,
                    'end_enroll_time': end_enroll_time,
                    'max_count': max_count,
                    'every_count': every_count
                },
                function(data) {
                    hideloading();
                    window.location = '/{{session.appname}}/activity/query'
                },
                function(meta) {
                    hideloading();
                    alert(meta.description);
                }
            )

        });
        $('#publish-btn').click(function() {
                if (!confirm('确定发布吗？')) {
                    return;
                }
                var activityid = $('#activityid').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/activity/publish/ajax",
                    {'productid': activityid },
                    function(data) {
                        hideloading();
                        showtoast(''+data);
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
    });
</script>
<style type="text/css">

</style>
{% endblock head %}

{% block right_content %}
<ol class="breadcrumb" style="margin-bottom: 0; padding: 10px; background-color: white;font-size: 18px">
  <li><a href="/{{session.appname}}/activity/query">活动列表</a></li>
  <li class="active">活动修改</li>
</ol>
<form class="form-horizontal" action="{{'/%s/activity/update' % session.appname }}" method='post'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">活动详情</h3>
        </div>
        <div class="panel-body">
            {% if msg %}
            <p style="color: red">{{msg}}</p>
            {% endif %}
            <input type="hidden" id="activityid" name="activityid" value="{{activity.activityid}}">
             <div class="form-group">
                <label class="col-sm-2 control-label" style="padding-top: 0;">活动名称</label>
                <div class="col-sm-5">
                    <input type="text" name="name" id="name" class="form-control" value="{{ activity.name or '' }}" placeholder="活动名称" required>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 20px">
            <label class="col-sm-2 control-label">邀请函</label>
            <div class="form_controls col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control" name="invitation" id="invitation" value="{{ activity.invitation or '' }}" required>
                    <span class="input-group-btn">
                        <button style="border: 1px solid #ccc;background: #eee;border-radius: 3px;border-left: 0;border-bottom-left-radius: 0;border-top-left-radius: 0;" class="btn buddy_uploadfile_btn" type="button" >+</button>
                        <input class="buddy_uploadfile_input" style="opacity: 0;" type='file' name='uploadfile'>
                    </span>
                </div>
                <img src="{{ activity.cover or '' }}" class="image" width="300px">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">活动时间</label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name="start_time" id="start_time"  value="{{activity.start_time_ui[0:10] or ''}}" placeholder="2019-09-20" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">截至报名时间</label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name="end_enroll_time" id="end_enroll_time"  value="{{activity.end_enroll_time_ui[0:10] or ''}}" placeholder="2019-09-17" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">活动人数</label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name="max_count" id="max_count"  value="{{activity.max_count or ''}}" placeholder="" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">每人可报人数</label>
            <div class="col-sm-5">
                <input type='text' class='form-control' name="every_count" id="every_count"  value="{{activity.every_count or ''}}" placeholder="" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="container-horizontal-left">
                <button type="button" id="submit-btn" class="btn btn-default"  style="width: 100px;background: #370307;color:#fff;text-shadow: none">保存</button>
                {% if activity.status == 'editing' %}
                    <button id="publish-btn" type="button" class="btn btn-default" style="width: 100px;margin-left: 10px;background: #370307;color:#fff;text-shadow: none">发布</button>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</form>

<script type="text/javascript">

</script>
{% endblock right_content %}
