{% extends "activity/index.html" %}
{% block title %} {{ super() }}{% endblock title %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
           $('.collocation-publish').click(function() {
                if (!confirm('确定发布吗？')) {
                    return;
                }
                var activityid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/activity/publish/ajax",
                    {'activityid': activityid },
                    function(data) {
                        hideloading();
                        showtoast('发布成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
           $('.collocation-offset').click(function() {
                if (!confirm('确定下架吗？')) {
                    return;
                }
                var activityid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/activity/offset/ajax",
                    {'activityid': activityid },
                    function(data) {
                        hideloading();
                        showtoast('操作成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
           $('.collocation-stick').click(function() {
                var activityid = $(this).find('input:first').val();
                showloading();
                xdock.ajax(
                    "/{{session.appname}}/activity/stick/ajax",
                    {'activityid': activityid },
                    function(data) {
                        hideloading();
                        showtoast('操作成功');
                        location.reload()
                    },
                    function(meta) {
                        hideloading();
                        alert(meta.description);
                    }
                )
            });
           $('.function').each(function () {
               $(this).click(function () {
                   event.stopPropagation();
               })
           })
        });
    </script>
    <style type="text/css">
    </style>
{% endblock head %}
{% block right_content %}
    <ul class="nav nav-tabs" style="margin-bottom: 30px;margin-top: 20px">
      <li role="presentation" class="active"><a href="{{'/%s/activity/query' % (session.appname)}}">活动列表</a></li>
    </ul>
    <div class='.container-fluid'>
        <div class='row' style="margin: 0">
            <div class='col-md-12' style="padding: 0">
                <form id='query-form' class="form-inline" action="/{{ session.appname }}/activity/query"
                      method='post'>
                    <div class="form-group">
                        <select class="form-control" name='status'>
                            <option value="">---状态---</option>
                            {% for k,v in  ActivityStatus.iteritems() %}
                                {% if form.status == k %}
                                    <option value="{{ k }}" selected>{{ v }}</option>
                                {% else %}
                                    <option value="{{ k }}">{{ v }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name='next_page' id='next_page' value="{{ form.next_page or 1 }}"/>
                    </div>
                    <button type="submit" class="btn btn-success">查询</button>
                </form>
            </div>
        </div>
        <div class='row' style='margin-top: 20px;width: 450px;'>
            <div class='col-md-12' style="">
                    {% for activity in activitys %}
                        <div id="activity-{{activity.activityid}}" class='card container-vertical-top item-click' style="align-items: flex-start; padding: 10px 0;overflow: hidden;position: relative">
                            <input type="hidden" value="/{{session.appname}}/activity/update?activityid={{activity.activityid}}" />
                            {% if activity.status == 'published' %}
                            <div class="badge-banner" style="right: -30px; top: 10px; width: 100px;  background-color: #5cb85c; color: white;">已发布</div>
                            {% endif %}
                            <div style="display: flex;flex-direction: row;justify-content: flex-start">
                                <img style="width: 50px;height: 50px;" src="{{ activity.invitation }}"/>
                                <div style="line-height: 40px; margin-left: 15px;display: flex;flex-direction: column;justify-content: space-around">
                                    <h4>{{ activity.name }}</h4>

                                </div>
                            </div>
                            <div>
                                <p style="color: #777;">
                                    活动时间：{{activity.start_time_ui[0:10]}}
                                </p>
                                <p style="color: #777;">
                                    截至报名时间：{{activity.end_enroll_time_ui[0:10]}}
                                </p>
                                <p style="color: #777;">
                                    总人数：&nbsp;{{ activity.max_count}}人
                                </p>
                                <p style="color: #777;">
                                    已报人数：&nbsp;{{ activity.enroll_count}}人
                                </p>
                                <p style="color: #777;">
                                    剩余可报名人数：&nbsp;{{activity.remain_count}}人
                                </p>
                            </div>
                            <div class="function" style="position: absolute; right: 5px; bottom: 5px;">
                                <span class="icon-circle collocation-stick" style="margin-left: 5px;" >
                                    <input type="hidden" value="{{activity.activityid}}" />
                                    <span>置顶</span>
                                </span>
                                <span class="icon-circle item-click" style="margin-left: 5px;" >
                                    <input type="hidden" value="/{{session.appname}}/activity/update?activityid={{activity.activityid}}" />
{#                                    <i class="iconfont">&#xe63a;</i>#}
                                    <span>修改</span>
                                </span>
                                {% if activity.status=='published' %}
                                <span class="icon-circle collocation-offset" style="margin-left: 5px;" >
                                    <input type="hidden" value="{{activity.activityid}}" />
                                    <span>下架</span>
                                </span>
                                {% else %}
                                <span class="icon-circle collocation-publish" style="margin-left: 5px;" >
                                    <input type="hidden" value="{{activity.activityid}}" />
{#                                    <i class="iconfont">&#xe6a0;</i>#}
                                    <span>发布</span>
                                </span>
                                {% endif %}
                                <span  class="icon-circle item-click" style="margin-left: 5px;width: 60px" >
                                    <input type="hidden" value="/{{session.appname}}/activity/user/query?activityid={{activity.activityid}}" />
                                    <span>报名详情</span>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                <br>
                <br>
                共{{ total_pages }}页，共{{ total_count }}条
                <div class=row>
                    <div class='col-md-12'>
                        <nav>
                            <ul class="pager">
                                {% if page > 1 %}
                                    <li><a href="#" id='to_previous_page'>上一页</a></li>
                                {% endif %}
                                <li>{{ page or 1 }}</li>
                                {% if page < total_pages %}
                                    <li><a href="#" id='to_next_page'>下一页</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock right_content %}